
params {
    sampleInfo = "../reference_files/Example_Input.json"
    ribosomalGeneList = "../reference_files/KEGG_RIBOSOME.v2024.1.Hs.txt"
    clusterResolution = null
    minCellsPerGene = null 
    minGenesPerCell = null
    mitochondrialContentMax = null
    hvgNumTopGenes = null
    pcaNcomps = null
    neighborsNumber = null
    neighborsNpcs = null
    outputFolder = null
}

workflow.onComplete = {
    "rm -rf ${workflow.projectDir}/nf_assets".execute().text
}

workflow.onError = {
    "rm -rf ${workflow.projectDir}nf_assets".execute().text
}