
//Parameters
params {
    sampleInfo = null
    ribosomalGeneList = "$projectDir/../reference_files/KEGG_RIBOSOME.v2024.1.Hs.txt" //default list, can be overriden.
    clusterResolution = null
    minCellsPerGene = null 
    minGenesPerCell = null
    mitochondrialContentMax = null
    removeMitochondrialGenes = null
    removeRibosomalGenes = null
    hvgNumTopGenes = null
    pcaNcomps = null
    neighborsNumber = null
    neighborsNpcs = null
    scaleMax = null
    percentile = null
    pAdj = null
    log2Fc = null
    heatmapNumSigGenes = null
    minCellsPerGroup = null
    nTopTermEnrichPlot = null
    dotplotCutoff = null
    controlName = null
    enrichTerms = null
    outputFolder = "./10x_sc_output"
    cellType = null
}

//Container settings

process.container = 'apwat/10x_sc:0.6'

singularity {
   enabled = true
   pullTimeout = '1h'
}

// charliecloud {
//     enabled = true
// }

//Workflow settings
process.errorStrategy = 'finish'

//Cleanup
cleanup = true
workflow.onComplete = {
    "rm -rf ${workflow.projectDir}/nf_assets".execute().text
}

workflow.onError = {
    "rm -rf ${workflow.projectDir}nf_assets".execute().text
}