
params {
    sampleInfo = null
    ribosomalGeneList = "../reference_files/KEGG_RIBOSOME.v2024.1.Hs.txt" //default list, can be overriden.
    clusterResolution = null
    minCellsPerGene = null 
    minGenesPerCell = null
    mitochondrialContentMax = null
    removeMitochondrialGenes = null
    removeRibosomalGenes = null
    hvgNumTopGenes = null
    pcaNcomps = null
    neighborsNumber = null
    neighborsNpcs = null
    scaleMax = null
    percentile = null
    outputFolder = null
    cellType = null
}

process.container = 'apwat/10x_sc'

singularity {
    enabled = true
    runOptions = '--compat'
}

workflow.onComplete = {
    "rm -rf ${workflow.projectDir}/nf_assets".execute().text
}

workflow.onError = {
    "rm -rf ${workflow.projectDir}nf_assets".execute().text
}